*{
    margin: 0;
    padding: 0;
}

.logo img{
    width: 65px;
    height:65px;
    /* background-color: blue; */
    align-items: center;
    border-radius: 40px;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(237, 42, 58);
}
.right ul{
    display: flex;
    gap: 34px;
}
.right ul a {
    list-style: none;
    text-decoration: none;
    color: rgb(236, 233, 240);
    font-weight: 600;
}
hero h1,h2{
padding: 40px;
text-align: center;
}
hero p{
padding: 30px;
text-align: center;
}
section{    
   text-align: center;

}
section p{
    margin: 10px;
    
}
section a{
    text-decoration: none;
    color: rgb(199, 47, 47);
    border: 2px solid black;
    padding: 3px;
    border-radius: 20px;
}
@media(max-width: 582px) {
 nav ul{
    flex-direction: column;
    margin-top: 20px;
 }
}

footer{
    background-color: rgb(101, 129, 119);
    display:grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    padding: 20px;


}
.footer-item{
    display: flex;
    flex-direction: column;
max-width: 60vw; 
    gap: 20px;

margin: auto;
}